/*TABLET*/
@media screen and(max-width: 768px) {
	
}
/*PHONE*/
@media screen and(max-width: 320px) {
	
}

@font-face{
	font-family: "Courier New";
	src: url('../fonts/cour.ttf');
}

@font-face{
	font-family: "Rajdhani";
	src: url('../fonts/rajdhani-regular.ttf');
}

@font-face{
	font-family: "Rajdhani Bold";
	src: url('../fonts/rajdhani-bold.ttf');
}

@font-face{
	font-family: "Rajdhani Semibold";
	src: url('../fonts/rajdhani-semibold-webfont.woff');
}

@keyframes modal_menu_animation{
	from{width: 0; opacity: 0;}
	to{width: 595px; opacity: 1;}
}

@keyframes modal_menu2_animation{
	from{height: 0; opacity: 0;}
	to{height: 660px; opacity: 1;}
}

@mixin h2-bigarrow{
		position: relative;
		margin: auto;
		text-align: center;
		font-size: 24.07px;
		color: #393939;
		text-transform: uppercase;
				
		&:before, &:after{
			position: absolute;
			top: 0;
			content: " ";
			display: block;
			width: 68px;
			height: 100%;
			background-repeat: no-repeat;
			background-position: center;
		}

		&:before{
			background-image: url('../backgrounds/bigarrowleft.png');
			left: 0;
		}

		&:after{
			background-image: url('../backgrounds/bigarrowright.png');
			right: 0;
		}
}

*{
	margin: 0px;
	padding: 0px;
	scroll-behavior: smooth; 
}

/* Non-standard vendor extended pseudo-element

::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-thumb {
    background: black; 
}
***********************************/

body{
	font-family: 'Rajdhani';
}

/*HEADER SEACTION*/

header{
	position: relative;
	margin: auto;
	max-width: 1600px;
}

.logo{
	position: absolute;
	width: 315px;
	top: 38%;
	left: 14%;
	z-index: 1000;
	text-transform: uppercase;
	color: black;
	text-align: center;
	
	h2{
		font-size: 34.87px;
		
		a{
			text-decoration: none;
			color: inherit;
		}

		span{
			font-family: "Rajdhani Bold";
		}
	}

	h3{
		font-size: 23.33px;
		font-family: "Courier New";
		font-weight: lighter;
	}

	hr{
		height: 1px;
		background-color: black;
		border: none;
		margin-bottom: 5px;
	}

	.confira{	
		margin-top: 40px;
		display: inline-block;
		width: 116px;
		line-height: 35px;
		color: black;
		text-decoration: none;
		font-size: 24.81px;
		border: 1px solid black;
	}
}

.promo-slider{
	position: relative;
	height: 21px;
	line-height: 21px;
	background-color: #c5c5c5;
	line-height: 21px;
	text-align: center;
	color: white;
	font-size: 13.21px;

	a{
		text-decoration: none;
		color: inherit;
	}

	.active-item{
		display: block;
		opacity: 1;
		letter-spacing: 0px;
		transition: letter-spacing 0.7s;	
	}
}

.promo-slider-item{
	text-transform: uppercase;
	height: 0px;
	margin: auto;
	opacity: 0;
	letter-spacing: -2px;
	
	span{
		font-weight: bold;
	}
}

.promo-slider-dots{
	position: absolute;
	top: 25%;
	right: 10%;
	list-style: none;

	.active-dot{
		background-color: black;
	}
}

.promo-slider-dot{
	float: left;
	margin-left: 4px;
	height: 10px;
	width: 10px;
	border-radius: 50%;
	box-sizing: border-box;
	border: 1px solid black;
	cursor: pointer;
	transition: background-color 0.5s;
}

.slider-wrapper{
	height: 705px;
}

.slider{
	height: 100%;
}

.slider-item{
	margin: auto;
	height: 705px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.slider-item__1{
	background-image: url('../images/good1.jpg');
}

.slider-item__2{
	background-image: url('../images/good2.jpg');
}

.slider-item__3{
	background-image: url('../images/good3.jpg');
}

.slider-item__4{
	background-image: url('../images/good4.jpg');
}

.slider-item__5{
	background-image: url('../images/good5.jpg');
}

/* NAVIGATION BLOCK*/

nav{
	position: relative;
	height: 45px;
	max-width: 1600px;
	box-sizing: border-box;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	line-height: 45px;
	color: white;
	background-color: black;
	padding: 0 180px;
	
	.fa-bars{	
		display: block;
		float: left;
		font-size: 20px;
		text-decoration: none;
		color: inherit;
		transition: 0.5s;
		text-align: center;

		&:hover{
			transform: rotate(180deg);
		}	
	}

	h1{	
		margin: auto;
		font-family: "Rajdhani Bold";
		text-align: center;
		text-transform: uppercase;
		font-size: 30px;
		padding-left: 118px;
	}
}

#menu{
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	height: 660px;
	box-sizing: border-box;
	border-top: 1px solid black;
	border-right: 2px solid black;
	border-bottom: 2px solid black;
	overflow: hidden;
	z-index: 100;
	background-color: white;
	animation-name: modal_menu_animation;
	animation-duration: 0.5s;

	&:target{
		display: block;
	}

	
	h3{
		box-sizing: border-box;
		text-indent: 185px;
		font-size: 20px;
		text-transform: uppercase;
		background-color: black;
	}

	form{
		height: 60px;
		width: 597px;
		align-items: center;
		background-color: #b1b1b1;
		padding: 8px 8px 8px 165px;
		box-sizing: border-box;

		input[type=text]{
			float: right;
			margin-right: 8px;
			height: 42px;
			width: 353px;
			border: none;
			text-indent: 15px;
		}

		input[type=submit]{
			float: right;
			height: 42px;
			width: 45px;
			border: none;
			background-color: black;
			background-image: url('../backgrounds/search.png');
			background-repeat: no-repeat;
			background-position: center center;
			cursor: pointer;
		}
	}
}

.frstMenu{
	list-style: none;
}

.frstMenu-item{
	position: relative;
	box-sizing: border-box;
	line-height: 69px;
	text-indent: 183px;
	color: #292929;
	font-size: 22px;
	text-transform: uppercase;
	border-bottom: 1px solid #c6c6c6;
	transition: height 0.5s;
	background-color: white;
}

.frstMenu-item::before{
	content: '＋';
	position: absolute;
	right: 10px;
	transition: 0.5s;
}

.frstMenu-item:hover::before{
	color: transparent;
}

.submenu li{
	position: relative;
	height: 0px;
	overflow: hidden;
	background-color: black;
	border-bottom: 1px solid white;
	transition: height 1s, opacity 0.9s;
	color: white;
	line-height: 47px;
	opacity: 0;
	box-sizing: border-box;

	&::after{
		position: absolute;
		content: '';
		right: 18px;
		top: calc(50% - 7px/2);
		width: 7px;
		height: 7px;
		border-top: 2px solid white;
		border-left: 2px solid white;
		transform: rotate(135deg);
	}
}

.frstMenu-item:hover{
	transition-delay: 0.2s;
	transition-duration: 0.5s;
	transition-property: border-bottom-color;
	border-bottom-color: transparent;
}

.frstMenu-item:hover .submenu li{
	height: 47px;
	opacity: 1;
}

.fa-times{
	margin: 8px 10px;
	font-size: 30px;
	text-decoration: none;
	color: inherit;
	float: right;
	transition: 0.5s;

	&:hover{
		transform: rotate(90deg);
	}
}
.social-network-block{
	position: absolute;
	bottom: 10px;
	right: 10px;
	z-index: -1;
}

.social-network{
	
	font-size: 20px;
	line-height: 20px;
	text-decoration: none;
	float: right;
	margin: 10px 10px 10px 0px; 
	color: black;
}

.right-bar{
	float: right;
	width: 140px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.login{
	display: block;
	font-size: 26px;
	text-decoration: none;
	color: inherit;
	text-transform: uppercase;
}

.cart-block{
	position: relative;
	width: 35px;
	height: 30px;
	background-image: url('../backgrounds/cart.png');
	background-repeat: no-repeat;

	p{	
		position: absolute;
		top: 0px;
		left: -4px;
		height: 20px;
		width: 20px;
		background-color: white;
		border-radius: 50%;
		line-height: 20px;
		font-size: 12.98px;
		color: black;
		text-align: center;
	}
}

#cart-menu:target{
	display: block;
}

#cart-menu{
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	width: 600px;
	height: 660px;
	z-index: 100;
	border-left: 2px solid black;
	border-bottom: 2px solid black;
	background-color: white;
	animation-name: modal_menu2_animation;
	animation-duration: 0.5s;

	h3{
		text-transform: uppercase;
		font-size: 20px;
		background: black;
		padding-left: 20px;
	}

	.cart-block{
		margin-top: 7px;
		margin-right: 180px;
		float: right;
	}
}
	
.cart-item{
	height: 118px;
	border-bottom: 1px solid #d1d1d1;
	padding-right: 183px;
	color: black;
	line-height: 30px;
	background-color: white;

	.cart-item-img{
		float: left;
		height: 100%;
	}

	.cart-item-name{
		display: inline-block;
		margin-top: 9px;
		margin-left: 13px;
		text-decoration: none;
		font-size: 22px;
		letter-spacing: 1px;
		font-family: "Rajdhani Semibold";
		color: inherit;
	}
	
	.cart-item-color{
		display: inline-block;
		margin-left: 13px;
		margin-bottom: 13px;
		height: 22px;
		width: 22px;
		background-color: black;
	}

	.cart-item-btn{
		width: 28px;
		height: 26px;
		border: 2px solid black;
		background-color: white;
		cursor: pointer;
	}

	.cart-item-btn_delete{
		margin-left: 13px;
	}

	.cart-item-btn_add, .cart-item-btn_delete{
		font-size: 23.61px;
		line-height: 9px;
	}

	.cart-item-quantity{
		display: inline-block;
		width: 40px;
		height: 26px;
		font-size: 22px;
		border: 1px solid transparent;
		text-align: center;
		box-sizing: border-box;
		line-height: 27px;
		background-color: #d1d1d1;	
	}

	.cart-item-btn_close{
		float: right;
		margin-top: 7px;
		font-size: 22px;
		line-height: 10px;
	}

	.cart-item-price{
		float: right;
		font-size: 22px;
	}

}

.total-amount{
	position: absolute;
	bottom: 85px;
	height: 50px;
	width: 100%;
	padding-left: 12px;
	background-color: #dcdcdc;
	text-transform: uppercase;
	font-family: "Rajdhani Semibold";
	box-sizing: border-box;
	color: #292929;
	font-size: 22px;

	.amount-input{
		margin-left: 260px;
	}
}

.continue-shopping{
	position: absolute;
	bottom: 0;
	height: 85px;
	width: 225px;
	box-sizing: border-box;
	padding-top: 17px;
	background-color: white;
	text-align: center;
	line-height: 26px;
	text-transform: uppercase;
	font-family: "Rajdhani Bold";
	color: #b3b3b3;
	font-size: 26px;
	text-decoration: none;
}

.checkout{
	position: absolute;
	bottom: 0;
	right: 0;
	height: 85px;
	width: 375px;
	box-sizing: border-box;
	background-color: black;
	text-transform: uppercase;
	font-family: "Rajdhani Bold";
	font-size: 26px;
	text-decoration: none;
	color: white;
	line-height: 85px;
	padding-left: 20px;

	i{
		padding-left: 40px;
	}
}

/*SECTION FEATURES "PRODUTOS EM DESTAQUE"*/


.features{
	margin: auto;
	max-width: 1600px;
	padding-top: 30px;
	background-image: url('../backgrounds/divisioria.png');
	background-repeat: no-repeat;
	background-position:  center 470px;

	h2{	
		width: 400px;
		@include h2-bigarrow;
	}
}

.carousel{
	position: relative;
	width: 1190px;
	margin: 25px auto;
}

/*nav button carousel style*/

.owl-prev, .owl-next{
	position: absolute;
	top: 40%;
	border: none;
	background-color: transparent;
	z-index: 10;
	color: #d1d1d1;
	font-size: 50px;
	outline: none;
	cursor: pointer;
	transition: 0.5s;

	&:hover{
		color: black;
	}
}

.owl-prev{
	left: -15px;
}

.owl-next{
	right: -15px;
}
/*************************/

.carousel-wrapper{
	margin: auto;
	display: flex;
}

.carousel-item{
	width: 185px;
	margin: auto;

	p{
		margin-top: 5px;
		font-size: 14.41px;
		color: #000;
		text-align: center;
	}
}

.carousel-item__1{
	.carousel-item-img{
		background-image: url('../images/goodssmall1.jpg');
	}
}

.carousel-item__2{
	.carousel-item-img{
		background-image: url('../images/goodssmall2.jpg');
	}
}

.carousel-item__3{
	.carousel-item-img{
		background-image: url('../images/goodssmall3.jpg');
	}
}

.carousel-item__4{
	.carousel-item-img{
		background-image: url('../images/goodssmall4.jpg');
	}
}

.carousel-item__5{
	.carousel-item-img{
		background-image: url('../images/goodssmall5.jpg');
	}
}

.carousel-item__6{
	.carousel-item-img{
		background-image: url('../images/goodssmall6.jpg');
	}
}

.carousel-item__7{
	.carousel-item-img{
		background-color: red;
	}
}

.carousel-item-img{
	position: relative;
	height: 330px;

	a{	
		position: absolute;
		display: block;
		height: 27px;
		width: 100%;
		bottom: 0;
		text-align: center;
		background-color: rgba(0,0,0, 0.5);
		letter-spacing: 3px;
		color: white;
		text-transform: uppercase;
		text-decoration: none;
		font-size: 16.34px;
		line-height: 27px;
		font-family: "Rajdhani Semibold";
		opacity: 0;
		transition: opacity 0.5s;
	}

	&:hover a{
			opacity: 1;
	}
}

.recommended{
	margin: 100px auto;
	width: 1230px;
	height: 1400px;

	a{
		color: white;
		text-decoration: none;
	}
}
.recommended-item{
	height: 445px;
	margin-bottom: 27px;
}
.recommended-item__1{
	width: 600px;
	float: left;
	background-image: url('../images/goodscategory1.jpg');
	background-position: 26% 42%;
}

.recommended-item__2{
	width: 600px;
	float: right;
	background-image: url('../images/goodscategory2.jpg');
	background-position: 100% 67%;
}

.recommended-item__3{
	width: 782px;
	float: left;
	background-image: url('../images/goodscategory3.jpg');
	background-position: 100% 67%;
}

.recommended-item__4{
	width: 417px;
	float: right;
	background-image: url('../images/goodscategory4.jpg');
	background-position: 78% 31%;
}

.recommended-item__5{
	width: 447px;
	float: left;
	background-image: url('../images/goodscategory5.jpg');
	background-position: 27% 7%;
}

.recommended-item__6{
	width: 753px;
	float: right;
	background-image: url('../images/goodscategory6.jpg');
	background-position: 49% 29%;
}

.recommended-item-content{
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0, 0);
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.5s;
	
	&:hover{
		background-color: rgba(0,0,0, 0.4);

		h4:before{
			opacity: 1;
		}
	}

	h4{
		position: relative;
		font-size: 33.79px;
		text-transform: uppercase;
		text-shadow: 0 3px 2px #000;
		font-family: "Rajdhani Semibold";
		letter-spacing: 4px;
		
		&:before{
			position: absolute;
			width: 100px;
			padding-top: 30px;
			left: calc(50% - 50px);
			bottom: -48px;
			content: 'ver mais';
			text-transform: none;
			font-size: 19.31px;
			border-top: 1px solid #717171;
			text-align: center;
			text-shadow: none;
			opacity: 0;
			transition: opacity 0.5s;
		}
	}
}

/* GALERIA DO INSTAGRAM */

.instagram-gallery{
	margin: -50px auto 80px;
	max-width: 1600px;

	h2{
		width: 415px;
		@include h2-bigarrow;
	}
}

.inst-gal-wrapper{
	margin: 40px auto 40px;
	width: 1230px;
	display: flex;
	justify-content: space-between;

	a{
		color: white;
		text-decoration: none;	
	}
}

.inst-gal-item{
	position: relative;
	height: 225px;
	width: 225px;
	z-index: 1000;

	i{
		position: absolute;
		top: 70px;
		font-size: 30px;
		width: 100%;
		text-align: center;
		opacity: 0;
		transition: 0.5s;
	}

	p{
		position: absolute;
		top: 115px;
		width: 100%;
		text-align: center;
		font-size: 24.16px;
		font-family: "Rajdhani Semibold";
		letter-spacing: 2px;
		opacity: 0;
		transition: 0.5s;
	}

	div{
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		transition: 0.5s;
		background-color: rgba(0,0,0, 0);
	}

	&:hover{
		
		div{
			background-color: rgba(0,0,0, 0.5);
		}

		i{
			opacity: 1;
		}

		p{
			opacity: 1;
		}
	}
}

/* SECTION "QUEM USA" */

.who-uses{
	margin: -40px auto 0;
	max-width: 1600px;

	h2{
		width: 280px;
		@include h2-bigarrow;
	}
}

.clients-wrapper{
	margin: 40px auto;
	width: 1230px;
	display: flex;
	justify-content: space-between;
}

.clients-wrapper-item{
	width: 285px;
	height: 285px;

	div{
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: rgba(0,0,0,0);
		transition: 0.5s;

		p{
			text-align: center;
			color: white;
			font-size: 24.16px;
			font-family: "Rajdhani Semibold";
			letter-spacing: 1px;
			opacity: 0;
			transition: 0.5s;
		}
	}

	&:hover div{
		background-color: rgba(0,0,0, 0.5);

		p{
			opacity: 1;
		}
	}
}

.clients-wrapper-item__1{
	background-image: url('../images/client_1.jpg');
}

.clients-wrapper-item__2{
	background-image: url('../images/client_2.jpg');
}

.clients-wrapper-item__3{
	background-image: url('../images/client_3.jpg');
}

.clients-wrapper-item__4{
	background-image: url('../images/client_4.jpg');
}

/* FOOTER */

footer{
	margin: 50px auto;
	max-width: 1600px;
}

.newsletter{
	max-width: 1230px;
	margin: auto;
	display: flex;
	justify-content: space-between;

	h3{
		position: relative;
		width: 210px;
		height: 52px;
		margin-right: 20px;
		line-height: 52px;
		text-transform: uppercase;
		color: white;
		font-size: 19.23px;
		background-color: black;
		text-align: center;
		font-family: "Rajdhani Semibold";

		&:after{
			position: absolute;
			content: '';
			width: 0;
			height: 0;
			right: -15px;
			border-top: 26px solid transparent;
			border-left: 15px solid black;
			border-bottom: 26px solid transparent;
		}
	}

	form{
		width: 81%;
		display: flex;
		justify-content: flex-end;
		
		input{
			display: block;
			text-align: center;
			font-size: 19.23px;
			color: #393939;
			box-sizing: border-box;
			outline: none;
			height: 52px;
		}

		input[type=text], input[type=email]{
			margin-right: auto;
			border: 2px solid #d0d0d0;
			width: 38%;
		}
		
		input[type=submit]{
			margin-left: auto;
			width: 21%;
			font-family: "Rajdhani Semibold";
			padding: 13.4px 52px;
			letter-spacing: 2px;
			border-style: none;
			border-bottom: 4px solid #4f5052;
			cursor: pointer;
		}
	}
}

.gallery-links{
	background-color: black;
	height: 36px;
	margin-top: 50px;
	
	ul{
		margin: auto;
		max-width: 1230px;
		list-style: none;
	}

	li{
		padding-right: 30px;
		float: left;
		height: 36px;

		a{
			color: white;
			font-size: 15.38px;
			text-transform: uppercase;
			text-decoration: none;
			line-height: 36px;
		}
	}

	li:last-child{
		float: right;
		padding-right: 0;

		a{
			margin: auto;
			margin-left: 8px;
			font-size: 25px;
		}
	}
}